@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Controller Name : @Model.ControllerName</h2>
<h2 class="text-danger">Action Name : @Model.ActionName</h2>
<pre>@Model.Exception.ToString()</pre>

