@{
    ViewBag.Title = "Home Page";
}

<script>
    $(document).ready(function () {
        $("#b01").click(function () {         

            var msg = '';

            $.ajax({
                method: "GET",
                url: "/客戶資料/GetJson",
                async: false
            })
            .done(function (data) {
                //console.log("Get Json Data: " + data);
                $(data).each(function (idx, obj) {
                    $(obj).each(function (key, value) {
                        //console.log(key + ": " + value);
                        console.log(value.客戶名稱 + ' - ' + value.統一編號);
                        msg += value.客戶名稱 + ' - ' + value.統一編號 + '<br>'
                       
                    });
                });

                $("#myDiv").html(msg);
            });
           

        });
    });


</script>


<div id="myDiv"><h2>Let AJAX change this text</h2></div>
<button id="b01" type="button">Change Content</button>